#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#app .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#app .container img {
  display: block;
  margin: 0 auto;
}

#app .container .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 210px;
  margin: 0 auto;
}

#app .container .inputs .input_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 0;
}

#app .container .inputs .input_inner .tag {
  white-space: nowrap;
}

#app .container .inputs .input_inner textarea,
#app .container .inputs .input_inner input,
#app .container .inputs .input_inner .date_picker {
  width: -webkit-fill-available;
}

#app .container .inputs .input_inner textarea {
  resize: none;
  height: 40px;
}

#app .container .inputs input {
  display: block;
}

#app .container .inputs input[type="submit"] {
  background: #93ff6b;
  display: block;
  border: none;
  color: #515151;
  width: 70px;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 8px;
}

#app .container .price_sum {
  margin: 2rem 0 0;
}

#app .container .duration .duration_changer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#app .container .duration .duration_changer .inner .start,
#app .container .duration .duration_changer .inner .end {
  margin: 0px 5px;
}

#app .container .duration .duration_changer .clearBtn {
  background: #82fff9;
  margin: 0 !important;
  display: block;
  border: none;
  color: #515151;
  width: 70px;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 8px;
}

#app .container .table_wrapper {
  margin: 3rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1000px;
}

#app .container .table_wrapper .counter {
  text-align: start;
}

#app .container .table_wrapper table {
  border-collapse: collapse;
  margin: 0 auto 2rem;
  width: 1000px;
  table-layout: fixed;
}

#app .container .table_wrapper table tr.data_cell td {
  padding: 0.5rem;
}

#app .container .table_wrapper table tr.data_cell td:nth-child(2) {
  text-align: end;
}

#app .container .table_wrapper table .editBtn {
  background: #93ff6b;
  display: block;
  border: none;
  color: #515151;
  width: 70px;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 8px;
}

#app .container .table_wrapper table .deleteBtn {
  background: #ff8a8a;
  display: block;
  border: none;
  color: #515151;
  width: 70px;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 8px;
}
/*# sourceMappingURL=index.css.map */