@mixin button {
  display: block;
  border: none;
  color: rgb(81, 81, 81);
  width: 70px;
  margin: 0 auto;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 8px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  .container {
    img {
      display: block;
      margin: 0 auto;
    }
    display: flex;
    flex-direction: column;
    .inputs {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 210px;
      margin: 0 auto;
      .input_inner {
        display: flex;
        justify-content: center;
        margin: 10px 0;
        .tag {
          white-space: nowrap;
        }
        textarea,
        input,
        .date_picker {
          width: -webkit-fill-available;
        }
        textarea{
          resize: none;
          height: 40px;
        }
      }
      input {
        display: block;
      }
      input[type="submit"] {
        background: rgb(147, 255, 107);
        @include button;
      }
    }
    .price_sum {
      margin: 2rem 0 0;
    }
    .duration {
      .duration_changer {
        .inner {
          display: flex;
          justify-content: center;
          align-items: center;
          .start,
          .end {
            margin: 0px 5px;
          }
        }
        .clearBtn {
          background: rgb(130, 255, 249);
          margin: 0 !important;
          @include button;
        }
      }
    }
    .table_wrapper {
      .counter {
        text-align:start;
      }
      margin: 3rem auto 0;
      display: flex;
      flex-direction: column;
      width: 1000px;
      table {
        border-collapse: collapse;
        margin: 0 auto 2rem;
        width: 1000px;
        table-layout: fixed;
        tr.data_cell {
          td {
            padding: 0.5rem;
            &:nth-child(2) {
              text-align: end;
            }
          }
        }
        .editBtn {
          background: rgb(147, 255, 107);
          @include button;
        }
        .deleteBtn {
          background: rgb(255, 138, 138);
          @include button;
        }
      }
    }
  }
}
