#modal_element {
  background: #0000006e;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .modal-wrapper {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    width: 600px;
    margin: 0 auto;
    background: white;
    box-shadow: 1px 2px 2px 1px #333;
    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin: 30px 60px;
      input, textarea {
        display: block;
        margin: 5px 0;
      }
      textarea{
        resize: none;
        height: 40px;
      }
      .el {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input[type="button"]{
        width: 100px;
        margin: 20px auto 0;
        border: none;
        background: #444;
        border-radius: 20px;
        cursor: pointer;
        padding: 5px 10px;
        color: white;
        transition: .3s;
        &:hover {
          background:rgb(120, 120, 120);
        }
      }
    }
  }
}
